.activity{
    height: 100px;
    background: #358cce;
    color: #fff;
    padding-top: 23px;
}
.card-title{
    font-size: 20px;
}
.card-body{
    padding: 30px;
}
.card{
    margin-top: 15px;
}
.card-body img{
    height: 23px;
}