.header{
    background: blue;
    padding: 1%;
    font-weight: bold;
    margin-top: 3%;
    color: #fff;
    border-radius: 9px;

}

.detail{
padding-left: 3%;
}
.details, .details a{
    color: #000;
    font-weight: bold;
}
.time, .hotel{
    margin-left: 20px;
}
.card{
    color: #000;
    border-radius: 9px;
    line-height: 26px;
}