.testimonial_icon , .user-name{
    color: #005596;
    padding-right: 20px;
    font-weight: bold;
}
.testimonial{
    color: #000;
    line-height: 30px;

}
.grey{
    color: gray;
}
.testimonial p{
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
}

.box_shadow{
    padding: 20px;
 margin-top: 50px;
    margin-bottom: 50px;
}