.TopNavbar{
    padding-top: 2px;
    height: 15px;
    min-height: 42px;
    border: 0;
}

.TopNavbar li a {
    display: inline;
    margin-left: 10px;
    font-weight: bold;
    color: #000;
    line-height: 32px;
    text-decoration: none;
}
.second_navbar{
    height:50px;
    background-color: #2174ce;
    position: relative;
    border:0;
    margin-bottom: 0;
}
.contact-details li {
    display: inline;
    margin-left: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    padding-right: 10px;
    line-height: 32px;
    text-decoration: none;
    border-right: 1px solid #005596;

}
.brand_logo {
    display: block;
    position: absolute;
    margin-top: -50px;
    height: 80px;
    bottom: 0;
    float: left;
    z-index: 1000;
}
.social-list{
    float: right;
}
.social-list li{
    display: inline;

}
.social-list  li a {
    color: #2174ce;
    padding-right: 10px;
    margin-left: 10px;
    border-right: 1px solid #005596;
}

/*second nav bar start from here*/

.bordeer_snip {
    font-weight: 800;
    letter-spacing: 1px;
}
.bordeer_snip li {
    display: inline-block;
    margin: 0 1em;
    padding: 0;
}
.bordeer_snip li:hover{
    background-color: #58A5F0;
}
.bordeer_snip li a {
    padding: 0.5em 0.8em;
    margin: 0.5px 0;
    text-align:center;
    display: block;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.bordeer_snip li a:hover {
    color: red;
    padding-left: 30px;
    transition: all 0.4s ease-out;
}
.dropdown-content ,.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #58A5F0;
    min-width: 196px;
    padding-left: 0;
    box-shadow: 0px 8px 11px 6px rgba(74, 70, 160, 0.2);
    z-index: 1000;
}
.dropdown-content li{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.dropdown-content  li a {
    color: #fff;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    display: block;
}
.dropdown-menu > li > a {
     display: block;
     padding: 3px 20px;
     clear: both;
     font-weight: normal;
     line-height: 1.6;
     color: #fff;
     white-space: nowrap;
}
.dropdown-content > li >a :hover{
    color: red;
    padding-left: 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: red;
    background-color: #58A5F0;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-submenu:hover .dropdown-menu {display: block;}
.dropdown-submenu .dropdown-menu {
    margin-left: 60%;
    margin-top: -5px;
}


.second_navbar .bordeer_snip > li > a {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 12px 10px 5px 12px;
}
.second_navbar .bordeer_snip> li > a:hover, .second_navbar .bordeer_snip> li > a:focus {
    color: #ff2d27;
    border-top: 4px solid red;
}
.see_more {
    padding:0 5px 0 0!important;
    font-size: 10px !important;
}