/* Header */

.demo-3{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	height: 300px !important;

}
.demo-3 .large-header {
	background: #7f8c8d;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.demo-3 .main-title {
	padding: 10px 40px;
	border: 10px double #f9f1e9;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
}

.main-title .thin {
	font-weight: 200;
}
/*card starts*/
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
	transition: 0.3s;
	margin-top: 25px;
	position: relative;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.details{
	padding: 3px 10px;
}
.btn-success{
	margin-bottom: 10px;
}
.products{
	width: 74.667%;
}
/*offer*/
.offer img{
	position: absolute;
	top: 0px;
	left: 185px;
}
/*cards ends*/

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}