/*css for upcoming_event*/
.stake_holder{
    width: 70%;
    display: block;
    padding: 20px;
    border-top: 1px solid #e7e6fd;
    margin-left: 15% !important;
}

.no-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.event-title{
    color: #358CCE;
    text-align: left;
    font-size: 28px;
    font-weight: 800;
}
.stake_holder .event_details ,.event_date {
    font-size: 11px;
    margin-right: 10px;
    color: #000;
    font-weight: bold;
}
.stake_holder p{
    margin-top: 25px;
}
/*end of upcoming_events*/