
.sub_heading_title {
    background-color: #358CCE;
    color: #fff;
    margin-bottom: 30px;
}
.sub_heading_title h1{
    font-size: 50px;
}
.paragraph{
    min-height: 500px;
}
.paragraph .margin{
    font-size: 18px;
    margin-left: 45px;
}




