.production{
    height: 100px;
    background: #358cce;
    color: #fff;
    padding-top: 15px;
}
table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
}

td, th {
    border: 4px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    font-size: 18px;
}